@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


@foreach (var category in CategoryService.Categories)
{
  <div class="nav-item px-3" b-iu4f229qen>
    <NavLink class="nav-link" href="@($"c/{category.Url}")">
      <span class="bi @category.Icon" aria-hidden="true" b-iu4f229qen></span> @category.Name
    </NavLink>
  </div>
}


@code {
  private bool collapseNavMenu = true;

  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }

  protected override async Task OnInitializedAsync()
  {
    await CategoryService.LoadCategories();
  }

  private async void Logout()
  {
    await LocalStorage.RemoveItemAsync("username");
    //await AuthStateProvider.GetAuthenticationStateAsync();
  }
}
